{% extends 'lmn/base.html' %}
{% load staticfiles %}
{% block content %}

<h2 id='artist_detail_title'>Artist Detail</h2>
<p id='artist_name'>{{ artist.name }}</p>
<h3>Photo</h3>
{% if artist.photo %}
  <img src="{{ artist.photo.url }}">
{% else %}
  <P>No photo uploaded</p>
{% endif %}
{% if user.is_authenticated %}
<form action="{% url 'lmn:artist_detail' artist_pk=artist.pk %}" method="post" enctype="multipart/form-data">
    <!--Much help and many thanks to Jeremy here-->
        {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.photo.label_tag }} </p>
    <p>
            {{ form.photo.errors }}
            {{ form.photo }}
    </p>
<button type="submit">Save</button>
</form>
{% endif %}

<form action="{% url 'lmn:delete_artist' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="artist_pk" value="{{ artist.pk }}">
  <button type=submit class="delete">Delete</button>
</form>

<script src="{% static 'js/confirm_delete.js' %}"></script>

{% endblock %}
