<!-- basic info about a venue -->

{% extends 'lmn/base.html' %}
{% load staticfiles %}

{% block content %}

<h2 id='venue_detail_title'>Venue Detail</h2>

<p id="venue_name">{{ venue.name }}</p>
<P><span id="venue_city">{{ venue.city }}</span>,
  <span id="venue_state">{{ venue.state }}</span></p>

<h3>Photo</h3>
{% if venue.photo %}
  <img src="{{ venue.photo.url }}">
{% else %}
  <P>No photo uploaded</p>
{% endif %}

{% if user.is_authenticated %}
<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'lmn:venue_detail' venue_pk=venue.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.photo.label_tag }} </p>
    <p>
            {{ form.photo.errors }}
            {{ form.photo }}
    </p>
    <p><input type="submit" value="Upload" /></p>
</form>
{% endif %}

<form action="{% url 'lmn:delete_venue' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="venue_pk" value="{{ venue.pk }}">
  <button type=submit class="delete">Delete</button>
</form>

<script src="{% static 'js/confirm_delete.js' %}"></script>


{% endblock %}
