{% extends 'lmn/base.html' %}

{% block content %}

<H2>Account Information</H2>

<!-- Display user profile photo -->

{% if user.userinfo.user_photo %}
    <img src="{% url 'lmn:user_profile_photo' user_pk=user.pk %}" />
{% endif %}

{% if message %}
  <P>{{ message }}</p>
{% endif %}

<form method='post' enctype="multipart/form-data" action="">{% csrf_token %}
  <table id="edit_profile_form">
    {{ form.as_table}}
  </table>
  <button type='submit'>Apply Changes</button>
</form>

{% endblock %}
